@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2481575_oswa7n639hn.eot');
  src: url('//at.alicdn.com/t/font_2481575_oswa7n639hn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2481575_oswa7n639hn.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2481575_oswa7n639hn.woff') format('woff'),
  url('//at.alicdn.com/t/font_2481575_oswa7n639hn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2481575_oswa7n639hn.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}